[submodule "deps/libmbedtls"]
	path = deps/libmbedtls
	url = https://github.com/jakcron/libmbedtls.git
[submodule "deps/libfmt"]
	path = deps/libfmt
	url = https://github.com/jakcron/libfmt.git
[submodule "deps/libtoolchain"]
	path = deps/libtoolchain
	url = https://github.com/jakcron/libtoolchain.git
[submodule "deps/liblz4"]
	path = deps/liblz4
	url = https://github.com/jakcron/liblz4.git
[submodule "deps/libpietendo"]
	path = deps/libpietendo
	url = https://github.com/jakcron/libpietendo.git
