################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NXTools/v15
*.a
*.o
*.exe

/lib/fnd/Debug
/lib/nx/Debug
/sample
