################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
*.a
*.o
*.exe
*.db
*.opendb
*.log

/lib/fnd/Debug
/lib/nx/Debug
/sample
