################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.a
*.o
*.exe
*.db
*.opendb
*.log
/bin/*
/*/*/Debug
/*/*/x64
/x64
/Debug
/test
/sample
